
.App {
  display: flex;
  text-align: center;
}

:root{
  --textChangeColor:#ffa500;
  --logoChangeColor:black;
  --mainTransition: all 0.5s linear;
  --mainSpacing: 3px;
}

.nav-links {
  text-decoration: none;
  color: white;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
  list-style-type: none;
 }

 .nav-link {
  display: flex;
  text-decoration: none;
  color: white;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  
}
 .nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.6rem;
  color: white;
}
.nav-icon:hover{
  color: var(--textChangeColor);
}
.show-nav {
  height: 7rem;
}

.nav-link:hover{
  color: var(--textChangeColor);
} 

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
}

.homelogo{
  color:white;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.homelogo:hover{
  color: var(--logoChangeColor);
  opacity: 0.75;
}
.header-color{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.home-grid{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.avatar-img{
  display:block;
  height:20rem;
  /* padding-top: 2rem; */
  width: 220px;
  margin-left: auto;
  margin-right: auto ;
  border-radius: 50%;
  
}

.banner-text{
  background-color: black;
  opacity: 0.7;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}


.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr{
  border-top: 5px dotted white;
  border-bottom: none;
  width:50%;
  margin: auto;
}

.banner-text p{
  color:white;
  font-size: 20px;
  padding:1rem;
}

@media screen and (max-width: 450px){
  .banner-text h1{
    font-size: 40px;  
  }
}
.social-links{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  
}
.social-icon{
  color: white;
  display:inline-block;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.social-icon:hover{
  color: red !important;
}
/*Project page css*/

.category-tabs{
  background-color: white;
  color: black;
  margin-left:20rem;
}
.card-root{
  max-width: 20rem;
  max-height: 28rem;
}
.card-media{
  height: 11rem;
}
.card-btn{
  text-decoration:none;
  color: white;
}
.cards{
  display:inline-table;
  margin-left: 10rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
/* End Project page css*/

/* Contact page css*/

.contact-body{
  margin:auto;
  font-family: 'Raleway';
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2rem;
 
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}
.contact-grid h2{
  font-size:"2.5rem";
}
.contact-img{
  width:220px;
  height: 280px;
}
.contact-hr-style{
  border-top: 5px dotted black;
  border-bottom: none;
  width:50%;
  margin: auto;
}
.MuiList-root{
  /* text-align: center !important; */
  margin-left: 25rem !important;  
}
.contact-list{
  text-align: center;
  justify-content: center;
  /* margin-left: 25rem; */
}


/* End Contact page css*/

/*About Page css*/
.about-body{
  overflow-x: hidden;
  margin:auto;
  font-family: 'Raleway';
  height: 100%;
  justify-content: center;
  padding-top: 2rem;
 
}

.about-img{
  width: 24rem;
  height: 32rem;
  margin-bottom: 5rem;
}
/*End About Page css*/

.banner-error{
  background-color: grey;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.banner-error h1{
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.banner-error hr{
  border-top: 5px dotted white;
  border-bottom: none;
  width:50%;
  margin: auto;
  margin-bottom: 2rem;
}
.banner-error Button{
  text-decoration: none !important;
  text-align: center;
  margin-left: 27rem;
  margin-bottom: 2rem;
  height: 3rem;
}

@media all and (max-width: 900px) {
  .category-tabs{
    margin-left: 1rem;
  }
  .cards{
    margin-left: 1rem;
  }
  .MuiList-root{
    margin-left: 2rem !important;
  }
  .banner-error Button{
    text-decoration: none!important;
    margin-left: 5rem;
    margin-bottom: 2rem;
  }
}

